
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    {{{body}}}
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            
            <form class="btn btn-secondary" action="/" method="post" enctype="multipart/form-data">
                
                <img src="/img/{{post.image}}" height="100px" width="100px"/>
                <span id="name">welcome back {{post.name}}</span><br>
                <input id='files' type="file" name="cuong">
                
                <button class="submit-btn" type='submit'>Upload</button>
            </form>
            <a href="http://127.0.0.1:3000">back to homepage</a>
            <form id="form" action="/logout" method="post">
            <input type="button" value="logout" onclick="logout()">
            </form>
        </div>
    </div>

    <script>
        window.addEventListener("load", () => {
            var getItem = document.cookie;
            // console.log(getItem);
            document.getElementById('name').innerHTML = 'Welcome back, ' + getItem.slice(9, getItem.length);
        })

        function logout() {
            document.getElementById('form').submit();
        }
    </script>
</body>

</html>