<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <select id="country">
            <option value="">--- Select Country---</option>
        </select><br>
        <select id="state">
            <option value="">--- Select State---</option>
        </select><br>
        <select id="city">
            <option value="">--- Select City---</option>
        </select><button onclick="clearAll()">Clear All</button><br>
        <button onclick="saveData()">Save</button>
        <button onclick="loadData()">Load</button>
    </div>
    <div id="beta"></div>
   <script src="public/script.js"></script>


</body>

</html>