<footer>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>Layout Blog
                info@zodinet.com / (+84) 866.09.02.09
            </p>
        </div>
    </div>
    <!-- /.row -->
</footer>