<form
  class="btn btn-secondary"
  action="/profile/changeAVT"
  method="post"
  enctype="multipart/form-data"
>
  <input id="files" type="file" name="avatar" />
  <button class="submit-btn" type="submit">Upload</button>
</form>
<a href="http://127.0.0.1:3000">back to Homepage</a><br>
<a href="http://127.0.0.1:3000/profile">back to Profile</a>