<h1>{{post.[0].title}}</h1><br>
<img src="{{post.[0].path}}" height="300px" width="auto"><br>
<p>{{post.[0].contentFull}}</p><br>
<span>{{post.[0].time}}</span><br>
<br>

<a href="http://127.0.0.1:3000/category">back to Category</a>